body {
    background: linear-gradient(to bottom, #00bfff, #1c2331);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
  
  

.container {
    max-width: 1200px;
    overflow:auto;
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    background-color: #1d1a1a;
    border: 5px solid #2596be;
    border-radius: 25px;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #000000, 0 0 80px #000000, 0 0 90px #000000;
}

h1 {
    display: flex;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Montserrat;
    justify-content: center;
}

h2 {
    display: flex;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Montserrat;
    max-width: 15ch;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
    text-align: justify;
}

span {
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.button {
    display:inline-block;
    text-align: center;
    width: auto;
    margin: 5px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #00bfff; /* Set the background color to light blue */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 191, 255, 0.5); /* Create an inside glow effect */
    transition: background-color 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #ffffff; /* Change the background color on hover for a subtle effect */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 191, 255, 0.7); /* Adjust the glow effect on hover */
    color: #00bfff;
  }

  select{
    display:inline-block;
    text-align: center;
    width: auto;
    margin: 5px auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: #00bfff; /* Set the background color to light blue */
    border: none;
    border-radius: 4px;
    padding: 5px 7px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3), 0 0 10px rgba(0, 191, 255, 0.5); /* Create an inside glow effect */
    transition: background-color 0.3s ease-in-out;
  }

  select:hover {
    background-color: #ffffff; /* Change the background color on hover for a subtle effect */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5), 0 0 10px rgba(0, 191, 255, 0.7); /* Adjust the glow effect on hover */
    color: #00bfff;
  }
  
#map {
    height: 500px;
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.search {
    display: inline-block;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
}

.fancy-text {
    font-family: 'Roboto', sans-serif;
    font-size: 10rem;
    color: #ffffff;
    text-shadow: 0 0 10px #000000, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6;
    letter-spacing: 2px;
    /*text-transform: uppercase;*/
}

.heading {

    font-family: 'Montserrat', sans-serif;
    /* A popular futuristic font */
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 10px #000000, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00ffff, 0 0 70px #00ffff, 0 0 80px #00ffff, 0 0 100px #00ffff;
    padding: 2rem 0;
    border-top: 1px solid #00ffff;
    border-bottom: 1px solid #00ffff;


}

.logo {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
}

input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff; /* Set the default text color to white gray */
    border: none;
    border-bottom: 2px solid #00bfff; /* Set the bottom border to light blue */
    padding: 8px;
    background-color: transparent; /* Make the background transparent */
  }
  
  input:focus {
    outline: none; /* Remove the default focus outline */
  }
  
  input::placeholder {
    color: #cccccc; /* Set the placeholder text color to white gray */
  }
  
/* creating a disclosure button format*/
div {max-width: 30rem;min-width:10rem}
summary[role=button] {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer
}
/* work on hover and focus to have different colors */
summary[role=button]:hover,
summary[role=button]:focus,
summary::marker {color: #0f0}
details {
  border: 1px solid #000;
  margin-bottom: 0.25rem
}
details p {padding: 0 1rem}