body {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    background-color: #1d1a1a;
    border: 5px solid #2596be;
    border-radius: 25px;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #000000, 0 0 80px #000000, 0 0 90px #000000;
}

h1 {
    display:flex;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Montserrat;
    justify-content: center;
}

h2{
    display:flex;
    color:black;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Montserrat;
    max-width: 15ch;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 20px;
    text-align: justify;
}

span{
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.btn {
    background-color: #2596be;
    border-radius: 5px;
    color: #ffffff;
    display: flex;
    font-size: auto;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;
    width: 200px;
}

.btn:hover {
    background-color: #ffffff;
    color: #2596be;
}

#map {
    height: 500px;
    width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.search{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    text-align: center;
}

.fancy-text {
    font-family: 'Roboto', sans-serif; 
    font-size: 10rem; 
    color: #ffffff;
    text-shadow: 0 0 10px #000000, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00e6e6, 0 0 70px #00e6e6, 0 0 80px #00e6e6, 0 0 100px #00e6e6; /* Create a glowing effect with multiple shadows */
    letter-spacing: 2px;
    text-transform: uppercase; 
  }
  
  