<!DOCTYPE html>
<html>

<head>
    <title>DermAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="../static/index.js"></script>
</head>

<body onload="">

    <header>
        <div class="logo">
            <h1 class="fancy-text">DermAI</h1>
            <img src="../static/logo.png" alt="DermAI Logo" width="50" height="50" class="logo">
        </div>
        <div class="tab-container">
            <ul class="tabs">
                <li><a href="">Upload Image</a></li>
                <li><a href="findDermatologist">Find a Dermatologist</a></li>
                <li><a href="diseaseTypes">Supported Skin Diseases</a></li>
            </ul>
        </div>
    </header>

    <div class="top-container">
        <div>
            <input type="file" style="display:none" id="image-input">
            <button id="upload-image" onclick="upload()" type="uploadFile">Upload Image</button>
            <button id="predictButton" type="button">Predict conditions</button>
        </div>


        <br>
    </div>

    <!-- AI section to pull data from dataset.json for name, short paragraph, image, and link -->
    <div class="container">
        <div id="result1">
            <h1>Disease category: <span id="cat1"></span></h1>
            <h2 id="name">Name: <span id="name1"></span></h2>
            <h3>Probability: <span id="prob1"></span></h3>
            <p id="shortDescription">Description: <span id="desc1"></span></p>
            <img id="image1" src="" />
            <a id="link1" href="">Link</a>
        </div>
    </div>
    <!-- make second container for result2-->
    <div class="container">
        <div id="result2">
            <h1>Disease category: <span id="cat2"></span></h1>
            <h2 id="name">Name: <span id="name2"></span></h2>
            <h3>Probability: <span id="prob2"></span></h3>
            <p id="shortDescription">Description: <span id="desc2"></span></p>
            <img id="image2" src="" />
            <a id="link2" href="">Link</a>
        </div>

        <script>
            const predictButton = document.getElementById("predictButton");
            const fileInput = document.getElementById("image-input");
            const result = document.getElementById("shortDescription");

            predictButton.addEventListener("click", () => {
                const file = fileInput.files[0];
                const formData = new FormData();
                formData.append("image", file);

                fetch("/predict", {
                    method: "POST",
                    body: formData,
                })
                    .then((response) => response.json())
                    .then((data) => {
                        const cat1 = document.getElementById("cat1");
                        const name1 = document.getElementById("name1");
                        const desc1 = document.getElementById("desc1");
                        const prob1 = document.getElementById("prob1");
                        const image1 = document.getElementById("image1");
                        const link1 = document.getElementById("link1");
                        const cat2 = document.getElementById("cat2");
                        const name2 = document.getElementById("name2");
                        const desc2 = document.getElementById("desc2");
                        const prob2 = document.getElementById("prob2");
                        const image2 = document.getElementById("image2");
                        const link2 = document.getElementById("link2");
                        let jsonData;
                        fetch('../static/dataset.json')
                            .then(response => response.json())
                            .then(data => {
                                jsonData = data
                            })
                            .catch(error => {
                                console.error('Error fetching the JSON file:', error);
                            });

                        cat1.innerHTML = data.category;
                        name1.innerHTML = data.disease;
                        // get short description from dataset.json
                        desc1.innerHTML = jsonData.diseases.Categories.

                        prob1.innerHTML = data.disease_prob;

                        ;
                        image1.src = data.image;
                        link1.href = data.link;

                        cat2.innerHTML = data.category2;
                        name2.innerHTML = data.disease2;
                        prob2.innerHTML = data.d2_prob;
                        desc2.innerHTML = data.description2;
                        image2.src = data.image2;
                        link2.href = data.link2;

                        console.log(data);
                        result.innerHTML = `Most predicted disease type: ${data.category}, Probability: ${data.probability}, Specific disease: ${data.disease}, Probability: ${data.disease_prob},
              Second-most predicted disease type: ${data.category2}, Probability: ${data.c2_prob}, Specific disease: ${data.disease2}, Probability: ${data.d2_prob},`;


                    })
                    .catch((error) => {
                        console.error(error);
                        result.innerHTML = "An error occurred.";
                    });
            });
        </script>

</body>

</html>